<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/xmc6qoc.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">
    <title>Chat App</title>
</head>
<body>
    <div class="container flex-row">
        <div class="sidebar">
            <h1>Chat Room: 0{{ room }}</h1>
            <ul id="userlist">
            </ul>
        </div>
        <div class="chat-wrapper">
            <div class="options flex-row">
                <button class="send-photo"><img src="{{ url_for('static',filename='styles/media/photo.svg')}}" alt="send photo"></button>
                <div class="options__other flex-row">
                    <button class="invite">Invite</button>
                    <button class="leave-chat btn-purple" id="btn-leave">Leave Chat</button>
                </div>
            </div>
            <div class="chat-box">
                <ul id="msg-list">
                    <li class="bubble"><span class="message-name">Server</span>Welcome to the chat!</li>
                </ul>
                <div class="text-input flex-row">
                    <input type="text" placeholder="Type your message here.." id="msg-input">
                    <button class="btn-purple" id="send-button"><img src="{{ url_for('static',filename='styles/media/send.svg')}}" alt="send"></button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        var username = '{{ username }}'
        var room = '{{ room }}'
        var pfp = '{{ pfp }}'
        var users = '{{ users | tojson}}'
        var messages = '{{ messages | tojson }}'
    </script>
    <script src="{{ url_for('static',filename='chat.js')}}"></script>
</body>
</html>