<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">
    <title>Chat App</title>
</head>
<body>
    <div class="room-form">
        <form class="flex-column" action="/chat">
            <label>Choose username and room.</label>
            <div class="flex-row">
                <input type="text" placeholder="Anna Barney" name="username">
                <input type="number" id="quantity" name="room" min="1" max="5" placeholder="1">
                <button class="btn-purple">Join</button>
            </div>
        </form>
    </div>
</body>
</html>